@import '_variables';

body {
  background-color: $punch;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  max-width: 1400px;
  background-color: $champagne;
  margin: 10px auto;
  padding: 20px 0;
  border-radius: 10px;
  font-family: 'Cherry Bomb One', system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  box-shadow: 2px 2px 4px $brown;

  @media (max-width: 1200px) {
    width: calc(100vw - 30px);
  }
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 10px 30px;

  @media (max-width: 700px) {
    flex-direction: column;
    gap: 10px;
  }
}
